.missing_episodes {
    float: left;
    margin: 10px;
    width: 45%;
}

.missing_seasons {
    float: right;
    margin: 10px;
    width: 45%;
}

.missing_episodes tr,
.missing_seasons tr{
    height: 25px;
}

.missing_seasons ,
.missing_episodes{
    border: 1px solid #cccccc;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.missing_episodes td {
    min-width: 200px;
}

.missing_seasons td {
    min-width: 200px;
}
