<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>{% block title %}House{% endblock %}</title>
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Cinzel:400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
        <script src="/static/js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/base.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body class="{{page}}">
        <div id="contentDiv">
        {% block content %}
            <div>
                missing episodes - {{ missing_episodes|length }}
                missing seasons - {{ missing_seasons|length }}
            </div>
            <table class='missing_episodes' cellspacing="0">
            {% for episode in missing_episodes %}
                <tr>
                    <td>{{ episode.show }}</td>
                    <td>{{ episode.season }}</td>
                    <td>{{ episode.episode }}</td>
                </tr>
            {% endfor %}
            </table>
            <table class='missing_seasons' cellspacing="0">
            {% for season in missing_seasons %}
                <tr>
                    <td>{{ season.show }}</td>
                    <td>{{ season.season }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endblock %}
        </div>

        <div id="footerDiv">
        </div>
    </body>
</html>
